RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_URI} ^/api/work/companies/(\d+)$
RewriteRule .* /api/work/companie.php

RewriteCond %{REQUEST_URI} ^/api/work/companies$
RewriteRule .* /api/work/companies.php

RewriteCond %{REQUEST_URI} ^/api/work/categories$
RewriteRule .* /api/work/categories.php

RewriteCond %{REQUEST_URI} ^/api/work/categories/(\w+)$
RewriteRule .* /api/work/categories.php

RewriteCond %{REQUEST_URI} ^/api/work/dishes/(\w+)$
RewriteRule .* /api/work/dishes.php

RewriteCond %{REQUEST_URI} ^/api/work/dishes$
RewriteRule .* /api/work/dishes.php

RewriteCond %{REQUEST_URI} ^/api/work/add_cafe$
RewriteRule .* /api/work/add_cafe.php

RewriteCond %{REQUEST_URI} ^/api/work/entry$
RewriteRule .* /api/work/login.php

RewriteCond %{REQUEST_URI} ^/api/work/orders/(\w+)$
RewriteRule .* /api/work/orders.php

RewriteCond %{REQUEST_URI} ^/api/work/orders/(\w+)/(\w+)$
RewriteRule .* /api/work/orders.php

RewriteCond %{REQUEST_URI} ^/api/work/orders$
RewriteRule .* /api/work/create_order.php

RewriteCond %{REQUEST_URI} ^/api/work/validOrder$
RewriteRule .* /api/work/exec_create_order.php





#Options All -Indexes



RewriteCond %{REQUEST_URI} test$
RewriteRule .+ indexController.php

#RewriteCond %{REQUEST_URI} !-f
#RewriteRule .+ Api/work/info.php

